@import '@/assets/styles/_variables';
@import '@/assets/styles/containers';
@import '@/assets/styles/elements';
@import '@/assets/styles/texts';

.container_settings_chapter {
  @include container_window_or_form_row;
  justify-content: space-between;
  width: 100%;
  gap: 48px;
}

.wrapper_row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.input_container {
  position: relative;
  width: 100%;
  margin-top: 6px;
}

.input_label {
  position: absolute;
  top: -9px;
  left: 10px;
  background-color: $form-background;
  padding-inline: 4px;
  color: $input-placeholder-color;
  font-size: 12px;

  user-select: none;
}

.input_style {
  @include input;
  width: 100%;
  background-color: $form-background;
  padding: 10px 10px 10px 10px;
}

.btn_password {
  @include button;
  width: 100%;
  font-weight: 600;
  margin-top: 4px;
}
