@import '@/assets/styles/_variables';
@import '@/assets/styles/containers';
@import '@/assets/styles/elements';
@import '@/assets/styles/texts';

.container_help_chapter {
  @include container_window_or_form_column;
  width: 100%;
}

.wrapper_help_btns {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;

  user-select: none;
}

.help_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 6px;
  text-decoration: none;
}

.h3_text {
  user-select: none;
}

.img_icon {
  width: 25px;
}

.p_text {
  @include p-text;
  font-size: 16px;
}

@media (max-width: 768px) {
  .h3_text {
    font-size: 16px;
  }

  .img_icon {
    width: 20px;
  }

  .p_text {
    @include p-text;
    font-size: 14px;
  }
}
