@import '@/assets/styles/_variables';
@import '@/assets/styles/containers';
@import '@/assets/styles/elements';
@import '@/assets/styles/texts';

.container_files_chapter {
  @include container_window_or_form_column;
  width: 100%;
}

.wrapper_title_files_chapter {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.headerText {
  color: $table-header-text;
  background-color: $form-background;
  font-size: 16px;
}

.cellText {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $table-cell-text;
  font-size: 14px;
}

.h3_text {
  user-select: none;
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button_download_icon {
  @include button;
  display: flex;
  padding: 6px;

  .img_icon {
    width: 20px;
  }
}

.btn_upload {
  @include button;
  font-weight: 600;
  margin-bottom: 4px;
}

.btn_upload_icon {
  display: none;
}

@media (max-width: 768px) {
  .btn_upload {
    display: none;
  }

  .btn_upload_icon {
    @include button;
    display: flex;
    padding: 8px;
    .img_icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
    }
  }

  .h3_text {
    font-size: 16px;
  }

  .cellText {
    font-size: 12px;
    padding: 0px !important;
  }

  .headerText {
    font-size: 14px;
  }
}
