@import '@/assets/styles/_variables';
@import '@/assets/styles/containers';
@import '@/assets/styles/elements';
@import '@/assets/styles/texts';

.h2_style {
  font-size: 32px;
  margin-bottom: 32px;

  user-select: none;
}

.container_info_forms {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: stretch;
  width: 100%;
  gap: 16px;
}

@media (max-width: 1024px) {
  .h2_style {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .container_info_forms {
    gap: 12px;
  }
}
