@import '@/assets/styles/_variables';
@import '@/assets/styles/containers';
@import '@/assets/styles/elements';
@import '@/assets/styles/texts';

.example_form_container {
  @include container_window_or_form_column;
  padding: 0px;
  width: 100%;
  user-select: none;
}

.wrapper_container {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 14px;
  max-width: 640px;
  gap: 6px;
}

.example_title {
  @include title-form;
  font-size: 16px;
  font-weight: 600;
}

.example_text {
  @include p-text;
  font-size: 16px;
  font-weight: 200;
}

@media (max-width: 1024px) {
  .wrapper_container {
    max-width: 100%;
    width: 100%;
    gap: 4px;
  }

  .example_title {
    font-size: 14px;
    font-weight: 600;
  }

  .example_text {
    font-size: 14px;
    font-weight: 200;
  }
}
