@import '@/assets/styles/_variables';
@import '@/assets/styles/containers';
@import '@/assets/styles/elements';
@import '@/assets/styles/texts';

.lk_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  padding-top: 35px;
  width: 100%;
  height: 100%;
  flex: 1;
}

.wrapper_lk {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex: 1;
  gap: 8px;
}

.h2_text {
  font-size: 26px;
  margin-bottom: 24px;

  user-select: none;
}

@media (max-width: 1024px) {
  .lk_container {
    gap: 4px;
    padding-top: 16px;
  }

  .wrapper_lk {
    flex-direction: column;
    gap: 24px;
  }

  .h2_text {
    font-size: 22px;
    margin-bottom: 8px;
  }
}

@media (max-width: 768px) {
  .lk_container {
    padding-top: 8px;
  }

  .wrapper_lk {
    gap: 16px;
  }

  .h2_text {
    font-size: 22px;
    margin-bottom: 8px;
  }
}
