@import '@/assets/styles/_variables';
@import '@/assets/styles/containers';
@import '@/assets/styles/elements';
@import '@/assets/styles/texts';

.tabs_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
  width: 100%;
}

.wrapper_button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}

.buttonTab_default,
.buttonTab_active {
  font-family: 'TravelsNext', sans-serif;
  font-size: 18px;
  font-weight: 600;
  background-color: $form-background;
  color: $btn-default-text;
  padding: 12px;
  width: 100%;
  transition: 0.1s linear;
  cursor: pointer;
  user-select: none;

  border-top: #01161e;
  border-left: #01161e;
  border-right: #01161e;
  border-image: linear-gradient(to right, #01161e, #01161e, #01161e, #01161e) 47% 0%;
}

.buttonTab_active {
  border-image: linear-gradient(to right, #01161e, #03ff67, #03ff67, #01161e) 47% 0%;
}

.buttonTab_default:hover {
  color: $btn-default-hover;
}
