@import '@/assets/styles/_variables';
@import '@/assets/styles/containers';
@import '@/assets/styles/elements';
@import '@/assets/styles/texts';

.h2_style {
  font-size: 32px;
  margin-bottom: 32px;

  user-select: none;
}

.container_questions_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

@media (max-width: 1024px) {
  .h2_style {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .container_questions_block {
    gap: 12px;
  }
}

@media (max-width: 768px) {
  .h2_style {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  .container_questions_block {
    gap: 8px;
  }
}
