@import '@/assets/styles/_variables';
@import '@/assets/styles/containers';
@import '@/assets/styles/elements';
@import '@/assets/styles/texts';

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  width: 100%;
}

.header_logo_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;

  user-select: none;
  cursor: pointer;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.header_logo_block:hover {
  transform: translateY(-2px);
}

.logo {
  width: 48px;
}

.header_logo_blocK_text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.logo_text {
  font-size: 32px;
  color: $title-color;
  font-family: 'TravelsNext', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.header_block_btns_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header_block_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 14px;
}

.header_block_btn_lk {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_style {
  @include button;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

.btn_header {
  font-family: 'Manrope';
  font-size: 20px;
  font-weight: 700;
  background-color: $btn-default;
  color: $btn-default-text;
  border: none !important;

  transition: 0.1s linear;
  cursor: pointer;
  user-select: none;
}

.btn_header:hover {
  color: $btn-default-hover;
}

.button_style_mobile {
  display: none;
}

@media (max-width: 1200px) {
  .logo {
    width: 42px;
  }

  .logo_text {
    font-size: 26px;
  }

  .header_block_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
  }

  .btn_header {
    font-size: 18px;
  }
}

@media (max-width: 1020px) {
  .header_block_btns_container {
    display: none;
  }

  .button_style {
    display: none;
  }

  .button_style_mobile {
    @include button;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    .img {
      width: 24px;
    }
  }
}

@media (max-width: 768px) {
  .logo {
    width: 28px;
  }

  .logo_text {
    font-size: 24px;
  }
}
