@import '@/assets/styles/_variables';
@import '@/assets/styles/containers';
@import '@/assets/styles/elements';
@import '@/assets/styles/texts';

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  width: 100%;
}

.header_logo_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;

  user-select: none;
  cursor: pointer;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.header_logo_block:hover {
  transform: translateY(-2px);
}

.logo {
  width: 48px;
}

.header_logo_blocK_text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.logo_text {
  font-size: 32px;
  color: $title-color;
  font-family: 'TravelsNext', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.header_block_btns_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header_block_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 14px;
}

.header_block_btn_lk {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_style {
  @include button;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

@media (max-width: 1024px) {
  .logo {
    width: 42px;
  }

  .logo_text {
    font-size: 28px;
  }
}
