@import '@/assets/styles/_variables';
@import '@/assets/styles/containers';
@import '@/assets/styles/elements';
@import '@/assets/styles/texts';

.title_form_container {
  @include container_window_or_form_column;
  width: 600px;
}

.captcha_form_container {
  @include container_window_or_form_row;
  align-items: center;
  justify-content: center;
}

.element_container {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.element_label {
  position: absolute;
  top: -9px;
  left: 10px;
  background-color: $form-background;
  padding-inline: 4px;
  color: $input-placeholder-color;
  font-size: 12px;

  user-select: none;
}

.button_style {
  @include button;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

.button_accept_style {
  @include button-accept;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
}

.input_style {
  @include input;
  width: 100%;
  background-color: $form-background;
  padding: 10px 10px 10px 10px;
}

.input_style::placeholder {
  color: $input-placeholder-color;
}

.select_style {
  @include select;
  width: 100%;
  background-color: $form-background;
  padding: 10px 10px 10px 10px;
}

.text_style {
  @include p-text;
  font-size: 12px;
  color: $note-color;

  user-select: none;
}

.error_message {
  @include p-text;
  font-size: 14px;
  color: $error-color;
}
