@import '@/assets/styles/_variables';
@import '@/assets/styles/containers';
@import '@/assets/styles/elements';
@import '@/assets/styles/texts';

.container_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.container_footer_bottom {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.wrapper_footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0px 0px;
}

.h2_text {
  font-size: 32px;
  margin: 48px 0px;
}

.detail_wrapper_footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.contact_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 6px;
  width: 100%;
}

.img_logo {
  width: 245px;
}

.img_contact {
  width: 22px;
}

.text,
.text_bottom {
  color: #f7f7f7b0;
  text-decoration: none;
}

.text:hover {
  color: #f7f7f7e1;
}

.text_bottom {
  font-size: 12px;
  color: #f7f7f74b;
}

@media (max-width: 1024px) {
  .h2_text {
    font-size: 24px;
    margin: 16px 0px;
  }

  .detail_wrapper_footer {
    gap: 8px;
  }

  .img_logo {
    width: 180px;
  }
}

@media (max-width: 768px) {
  .h2_text {
    font-size: 18px;
    margin: 12px 0px;
  }

  .detail_wrapper_footer {
    gap: 6px;
  }

  .img_logo {
    width: 100px;
  }

  .img_contact {
    width: 10px;
  }

  .text {
    font-size: 12px;
  }

  .text_bottom {
    font-size: 10px;
    color: #f7f7f74b;
  }
}

@media (max-width: 375px) {
  .container_footer {
    flex-direction: column;
  }
}
