@import '@/assets/styles/_variables';
@import '@/assets/styles/containers';
@import '@/assets/styles/elements';
@import '@/assets/styles/texts';

.container_question {
  @include container_window_or_form_row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  width: 100%;
  max-width: 850px;

  user-select: none;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.container_question:hover {
  box-shadow: 0 10px 15px #03ff684b;
  transform: translateY(-5px);
}

.wrapper_title_question {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  width: 100%;
}

.b_title {
  @include b-text;
}

.p_text {
  @include p-text;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-size: 14px;
}

.p_text.expanded {
  max-height: 200px;
}
