@import '@/assets/styles/_variables';
@import '@/assets/styles/containers';
@import '@/assets/styles/elements';
@import '@/assets/styles/texts';

.reg_form_container {
  @include container_window_or_form_column;
  width: 100%;
  padding: 0;
  border: none;
}

.element_container {
  position: relative;
  width: 100%;
  margin-top: 6px;
}

.element_label {
  position: absolute;
  top: -9px;
  left: 10px;
  background-color: $form-background;
  padding-inline: 4px;
  color: $input-placeholder-color;
  font-size: 12px;

  user-select: none;
}

.input_style {
  @include input;
  width: 100%;
  background-color: $form-background;
  padding: 10px 10px 10px 10px;
}

.button_style {
  @include button;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  margin-top: 6px;
}

.button_accept_style {
  @include button-accept;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
}
