:root {
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  background-color: #000a0e;
  color: #f7f7f7;
  flex: 1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #000a0e;
}

body::-webkit-scrollbar-thumb {
  background-color: #03ff67;
  border-radius: 20px;
  border: none;
}

.css-levciy-MuiTablePagination-displayedRows {
  color: #f7f7f7;
  font-family: 'Manrope' !important;
}

.css-i4bv87-MuiSvgIcon-root {
  color: #f7f7f7;
}

.css-rbjqkq-MuiDataGrid-root {
  font-family: 'Manrope' !important;
}
