:root {
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  background-color: #000a0e;
  color: #f7f7f7;
  flex: 1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

/* Изменённый стиль скролла */
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #000a0e;
}

body::-webkit-scrollbar-thumb {
  background-color: #03ff67;
  border-radius: 20px;
  border: none;
}
/* Изменённый стиль скролла */

/* Отключенный стили таблицы */
.css-levciy-MuiTablePagination-displayedRows {
  color: #f7f7f7;
  font-family: 'Manrope' !important;
}

.css-i4bv87-MuiSvgIcon-root {
  color: #f7f7f7;
}

.css-rbjqkq-MuiDataGrid-root {
  font-family: 'Manrope' !important;
  border: 1px solid #03ff67 !important;
}

.css-rbjqkq-MuiDataGrid-root {
  --DataGrid-rowBorderColor: #03ff67 !important;
}

.css-wop1k0-MuiDataGrid-footerContainer {
  border: none !important;
}

.css-rbjqkq-MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within,
.css-rbjqkq-MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}

.css-rbjqkq-MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.css-rbjqkq-MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}
/* Отключенный стили таблицы */

/* Стиль тултипа */
.css-ja5taz-MuiTooltip-tooltip {
  background-color: #01161e !important;
  color: #03ff67 !important;
  border: 1px solid #03ff67 !important;
}
/* Стиль тултипа */
