// title, text and etc
$title-color: #03ff67;
$subtitle-color: #f7f7f7;
$text-b-color: #f7f7f7;
$note-color: #f7f7f7b0;
$error-color: #d83030;
$tariff-standard-color: #03ff67;
$black_text: #000a0e;

// blocks, containers, cards and etc
$container-border: #03ff67;

// windows, forms and etc
$form-background: #01161e;
$form-text: #f7f7f7;

$table-header-text: #f7f7f7;
$table-cell-text: #f7f7f7;

$menu-background: #000a0e;

// elements
$btn-default: #000a0e;
$btn-default-text: #f7f7f7;
$btn-default-hover: #03ff67;

$btn-chapter: #000a0e;
$btn-chapter-text: #f7f7f7;
$btn-chapter-hover: #03ff68b3;
$btn-chapter-active: #03ff67;

$btn-outline: #003527;
$btn-outline-border: #000a0e;
$btn-outline-hover: #03ff67;
$btn-outline-text: #03ff67;
$btn-outline-border-hover: #03ff67;
$btn-outline-active: #0035278b;

$btn-accept: #03ff67;
$btn-accept-text: #003527;
$btn-accept-hover: #003527;
$btn-accept-border: #000a0e;
$btn-accept-text-hover: #03ff67;
$btn-accept-border-hover: #03ff67;
$btn-accept-active: #0035278b;

$input-border: #03ff67;
$input-background: #000a0e;
$input-text-color: #f7f7f7;
$input-placeholder-color: #f7f7f7b0;
$input-focus-color: #fff;

$select-border: #03ff67;
$select-background: #000a0e;
$select-text-color: #f7f7f7;
$select-placeholder-color: #f7f7f7b0;
$select-focus-color: #fff;
